<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  
  <body style="margin: 0px";>
    <div id="page-container">
      {% include navigation.html %}

      <div id="content-wrapper">
          {{ content }}
      </div>

      <footer>
        <div id="footer-content">
          <a style="color: white;">
            UCSD Batteries 
          </a>
        </div>
      </footer>
    </div>
  </body>
</html>