<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  
  <body style="margin: 0px; bottom: 0; height: 100%;";>

    <div>
        <header class="home-header">
            <nav>
            <div>
            <a href="/" class="menu-item" style="font-size: xx-large;">Tong Lab</a>
            </div>
            <ul style="padding-top: 10px;">
                {% for item in site.data.navigation %}
                <a href="{{ item.link }}" class="menu-item" >{{ item.name }}</a>
                {% endfor %}
            </ul>   
            </nav>
        </header>
    </div>

    <div>
        {{ content }}
    </div>


  </body>
</html>